<section class="vh-100 bg-image">
  <div class="mask align-items-center h-100 gradient-custom-3">
          <div class="row">
              <div class="col-lg-3 mb-3 mb-lg-0">
                  <app-sidebar></app-sidebar>
              </div>

              <div class="col-lg-9">
                  <div class="row">
                      <div class="col-md-12 mb-3">
                          <app-header></app-header>
                      </div>

                      <div class="col-md-12">
                          <app-newchat></app-newchat>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</section>
