/* Adjust the chat container height */
.chat-container {
    height: 700px; /* Set chat container height to 90% of the viewport height */
    padding: 15px;
  }
  
  /* Adjust the input bar height */
  .input-bar {
    margin-top: -170px;
    background-color: #f5f6f7;
  }
  